.iframely-link {

	.thumb {
		max-width: 21px !important;
		margin-right: 5px;
	}

	.iframely-container {

		margin-top: 15px;

		max-width: 600px;

		img, iframe {
			max-width: 100% !important;
		}

		img.thumb {
			max-width: 21px !important;
			margin-right: 5px;
		}

		.panel-iframely {

			.iframely-embed {

				.one-line {
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					display: inline-block;
					width: 100%;
				}

				.iframely-meta {
					margin-bottom: 10px;
				}

				.media iframe, .media img {
					max-width: 100%;
				}

				p.description {
					margin: 10px 0 0 0;
				}
			}
		}
	}
}